

<div class="container-fluid" style="background-color: #f9fafd;" >
    <div class="row">
      <div style="min-height: 92vh; width: fit content; background-color: #383657;" class="col-lg-2 d-flex flex-column justify-content-center align-items-center">
        <a style="text-decoration: none; color: #b5b3eb;" class="fw-bolder mb-3 mt-4" routerLink="/dashboard"><i class="fa-solid fa-house me-2"></i> Home</a>
        <a style="text-decoration: none; color: #b5b3eb;" class="fw-bolder mb-3" routerLink="/users"><i class="fa-solid fa-user-group me-2"></i> Users</a>
        <button class="btn mt-auto  fw-bolder" style="text-decoration: none; color: #dcc6eb;">
          <i class="fa-solid fa-arrow-right-from-bracket fa-flip-horizontal me-1"></i> Logout
        </button>
      </div>
      <div class="col-lg-10">
        
            <div class="d-flex justify-content-center mt-4">
                <h3 style="color: #565391;">Edit Users From</h3>
                
            </div>
        
        

        <!-- form -->
        <div style="height: 70vh;" class="w-100 d-flex align-items-center justify-content-center flex-colunm ">
          <form class="border rounded p-3 w-50 shadow" #editUserForm="ngForm">

            <div class="form-floating mb-3">
                
              <input type="text" class="form-control" id="id" placeholder="id" name="id" [(ngModel)]="user.empId"  required #empId="ngModel">
              <label for="floatingInputnameId" class="text-secondary">Id</label>
            </div>

            <div class="mb-3 text-danger" *ngIf="empId.invalid&&empId.touched">
              <small>*Invalid Employee Id</small>
            </div>

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="Username" placeholder="Username" name="name" [(ngModel)]="user.name"  required #name="ngModel">
                <label for="floatingInputusername" class="text-secondary">Username</label>
              </div>

              <div class="mb-3 text-danger" *ngIf="name.invalid&&name.touched">
                <small>*Invalid Employee Name</small>
              </div>

              <div class="form-floating mb-3">
                <input type="email" class="form-control" id="Email" placeholder="Email" name="email" [(ngModel)]="user.email"  required #email="ngModel">
                <label for="floatingInputemail" class="text-secondary">Email</label>
              </div>

              <div class="mb-3 text-danger" *ngIf="email.invalid&&email.touched">
                <small>*Invalid Employee Email</small>                
              </div>

              <div class="form-floating mb-3">
                <select id="Select" class="form-select" name="Status" [(ngModel)]="user.status" required #status="ngModel">
                  <option class="text-success" value="1">Active</option>
                  <option class="text-danger" value="0">Inactive</option>
                </select>
                <label for="floatingInputemail" class="text-secondary">Status</label>
              </div>

              <div class="mb-3 text-danger" *ngIf="status.invalid&&status.touched">
                <small>*Invalid Employee Status</small>
              </div>

              <div class="text-center p-3">
               <button (click)="cancel(user.id)"  class="btn btn-outline-danger me-5 shadow">Cancel</button>
               <button (click)="update(user.id)" [disabled]="editUserForm.invalid&&editUserForm.touched" class="btn text-white shadow" style="background-color: #61e650;">Update</button> 
              </div>

          </form>
         </div>
         

      </div>
    </div>
  </div>
  
